
Machine Learning for Hydrodynamics/.DS_Store

Machine Learning for Hydrodynamics/Задание.pdf

Machine Learning for Hydrodynamics/Nonlinear Regression on sklearn/Графики.pdf

Machine Learning for Hydrodynamics/Nonlinear Regression on sklearn/.DS_Store

Machine Learning for Hydrodynamics/.ipynb_checkpoints/

Machine Learning for Hydrodynamics/Nonlinear Regression on sklearn/.ipynb_checkpoints/Модель нелинейной регрессии для предсказания E, Z, c_V-checkpoint.ipynb

Machine Learning for Hydrodynamics/Nonlinear Regression on sklearn/DataSets/.DS_Store
